.post > .score {
  width: 30px;
  text-align: right;
}

.post > .title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post > .author small {
  margin: 0;
  display: block;
  font-style: italic;
  color: var(--secondary);
  text-align: right;
}
